@tailwind utilities;

// Set docsearch to dark mode and set primary color to our primary color
:root {
	--docsearch-primary-color: rgb(37 153 255);
	--docsearch-text-color: rgb(245, 246, 247);
	--docsearch-container-background: rgba(9, 10, 17, 0.8);
	--docsearch-modal-background: rgb(21, 23, 42);
	--docsearch-modal-shadow: inset 1px 1px 0 0 rgb(44, 46, 64), 0 3px 8px 0 rgb(0, 3, 9);
	--docsearch-searchbox-background: rgb(9, 10, 17);
	--docsearch-searchbox-focus-background: #000;
	--docsearch-hit-color: rgb(190, 195, 201);
	--docsearch-hit-shadow: none;
	--docsearch-hit-background: rgb(9, 10, 17);
	--docsearch-key-gradient: linear-gradient(-26.5deg, rgb(86, 88, 114) 0%, rgb(49, 53, 91) 100%);
	--docsearch-key-shadow: inset 0 -2px 0 0 rgb(40, 45, 85), inset 0 0 1px 1px rgb(81, 87, 125),
		0 2px 2px 0 rgba(3, 4, 9, 0.3);
	--docsearch-key-pressed-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
		0 1px 1px 0 #0304094d;
	--docsearch-footer-background: rgb(30, 33, 54);
	--docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5), 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
	--docsearch-logo-color: rgb(255, 255, 255);
	--docsearch-muted-color: rgb(127, 132, 151);
}

.DocSearch-Button {
	@apply m-0 flex h-[34px] w-full rounded-md border border-app-line bg-app-input text-sm leading-4 shadow-sm outline-none;
}

.DocSearch-Button:hover,
.DocSearch-Button:focus,
.DocSearch-Button:active {
	background: none;
	box-shadow: none;
	@apply border-primary bg-app-hover text-ink-faint;
}

.DocSearch-Button-Key--pressed {
	transform: none;
}

.DocSearch-Button .DocSearch-Search-Icon {
	@apply mr-2 py-0.5 text-gray-350;
}

.DocSearch-Button-Placeholder {
	@apply flex-1 border-none bg-transparent px-3 pl-0 pr-0 text-sm text-ink-faint outline-none;
}

.DocSearch-Search-Icon {
	@apply h-5 w-5;
}

.DocSearch-Button-Keys {
	min-width: auto;
}

.DocSearch-Button-Key {
	background: none;
	@apply top-0 w-5 bg-app-button p-0 text-sm text-ink shadow;
}

@media (max-width: 768px) {
	.DocSearch-Button-Placeholder {
		display: block;
	}
}

.DocSearch-Input:focus {
	@apply ring-0;
}
