a,
button {
  @apply cursor-default;
}

body { font-family: "InterVariable", sans-serif; }

.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.explorer-scroll {
  &::-webkit-scrollbar {
    height: 6px;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    @apply bg-[#00000006] dark:bg-[#00000030] mt-[55px] rounded-[6px];
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-gray-300 dark:bg-gray-550;
  }
}
