node_modules
.next
dist
!apps/desktop/dist
*.tsbuildinfo
package-lock.json
.eslintcache
.turbo
.vercel
cli/turbo
cli/turbo-new
cli/turbo-new.exe
cli/turbo.exe
storybook-static/
.DS_Store
cache
.env
vendor/
data
node_modules
packages/turbo-server/data/
packages/turbo-server/uploads/
packages/*/node_modules
packages/*/data
apps/*/data
apps/*/stats.html
docs/public/*.st
docs/public/*.toml
dev.db

!cli/cmd/turbo
cli/npm/turbo-android-arm64/bin
cli/npm/turbo-darwin-64/bin
cli/npm/turbo-darwin-arm64/bin
cli/npm/turbo-freebsd-64/bin
cli/npm/turbo-freebsd-arm64/bin
cli/npm/turbo-linux-32/bin
cli/npm/turbo-linux-64/bin
cli/npm/turbo-linux-arm/bin
cli/npm/turbo-linux-arm64/bin
cli/npm/turbo-linux-s390x/bin
cli/npm/turbo-linux-mips64le/bin
cli/npm/turbo-linux-ppc64le/bin
cli/npm/turbo-netbsd-64/bin
cli/npm/turbo-openbsd-64/bin
cli/npm/turbo-sunos-64/bin
cli/npm/turbo-windows-32/turbo.exe
cli/npm/turbo-windows-64/turbo.exe
cli/npm/turbo-windows-arm64/turbo.exe
cli/scripts/turbo-*
!/npm/turbo-windows-32/bin
!/npm/turbo-windows-64/bin
!/npm/turbo-install/bin
!cli/internal/cache
demo
yalc.lock
!http_cache/cache
!http_cache/cache/cache.go
*.log
!create-turbo/templates/**/*
todos.md
examples/*/*.lock
/target
/core/src/prisma*.rs

/sdserver_data
.spacedrive
dev.db-journal
