[submodule "apps/ios"]
	path = apps/ios
	url = https://github.com/spacedriveapp/ios.git
[submodule "apps/macos"]
	path = apps/macos
	url = https://github.com/spacedriveapp/macos.git
[submodule "workbench"]
	path = workbench
	url = https://github.com/spacedriveapp/design.git
[submodule "docs"]
	path = docs
	url = https://github.com/spacedriveapp/docs.git
