; make all engine requirements (e.g. node version) strictly kept
engine-strict=true
dedupe-peer-dependents=true
; necessary for metro + mobile
strict-peer-dependencies=false
node-linker=hoisted
auto-install-peers=true
max-old-space-size=4096
enable-pre-post-scripts=true
package-manager-strict=false
