# built product/cache
target/
dist/

# Mobile build artifacts
apps/mobile/.expo
apps/mobile/android/app/build
apps/mobile/modules/sd-core/android/build

# macOS/iOS product/cache
.build/
Pods/

# just in case it tries to parse for some reason
*.rs

# we plainly don't need a lockfile to look nice
pnpm-lock.yaml

# Import order is important
apps/desktop/src/index.tsx

# codegen from rspc -- not supposed to look nice
/packages/client/src/core.ts
apps/desktop/src/commands.ts

# Import only file, which order is relevant
interface/components/TextViewer/prism-lazy.ts

.next/
.contentlayer/

# Stops from constant package.json changes showing up in commits
package*.json

# Dont format locales json
interface/locales

scripts/utils/.tmp/*
