[package]
name = "file-opening-windows"
version = "0.1.0"
edition = "2021"

[dependencies]
file-opening = { path = "../file-opening" }
windows = { version = "0.58", features = [
    "Win32_Foundation",
    "Win32_System_Com",
    "Win32_UI_Shell",
    "Win32_UI_Shell_Common",
    "Win32_UI_WindowsAndMessaging",
] }
