[package]
name = "spacedrive"
version = "0.1.0"
description = "The universal file manager."
authors = ["Spacedrive Technology Inc."]
license = ""
repository = "https://github.com/spacedriveapp/spacedrive"
default-run = "spacedrive"
edition = "2021"
build = "build.rs"

[dependencies]
tauri = { version = "1.1.1", features = ["api-all", "macos-private-api"] }
rspc = { workspace = true, features = ["tauri"] }
sd-core = { path = "../../../core", features = ["ffmpeg", "location-watcher"] }
tokio = { version = "1.21.2", features = ["sync"] }
window-shadows = "0.2.0"
tracing = "0.1.36"
serde = "1.0.145"
percent-encoding = "2.2.0"

[target.'cfg(target_os = "macos")'.dependencies]
swift-rs.workspace = true

[build-dependencies]
tauri-build = { version = "1.1.1", features = [] }

[target.'cfg(target_os = "macos")'.build-dependencies]
swift-rs = { workspace = true, features = [
  "build",
] }

[features]
default = ["custom-protocol"]
custom-protocol = ["tauri/custom-protocol"]
