CompileFlags:
  Add: [-xc, -std=c17, -Wall]             # treat all files as C++, enable more warnings
  Remove: -W*                     # strip all other warning-related flags
  Compiler: clang               # Change argv[0] of compile flags to `clang++`
