:root {
	--border-color: rgba(50, 51, 67, 1);
}

@media (prefers-color-scheme: light) {
	:root {
		--border-color: rgba(50, 51, 67, 0.192); // Use lighter color for light mode
	}
}

ul.groupedjob {
	position: relative;
	&::before {
		position: absolute;
		z-index: 10;
		top: 37px;
		height: 48.75px;
		width: 11px;
		border-left: 1px solid var(--border-color);
		content: '';
		left: 25px;
	}
}

.removelistdot {
	list-style: none;
}

.joblistitem {
	position: relative;
	&:last-child {
		padding-bottom: 12px;
		&::after {
			position: absolute;
			z-index: 10;
			height: 37.5px;
			top: 0;
			width: 10px;
			border-left: 1px solid var(--border-color);
			content: '';
			left: 25px;
		}
	}
	&::before {
		position: relative;
		top: 24.5px;
		height: 1em;
		width: 13px;
		border-bottom: 1px solid var(--border-color);
		content: '';
		display: inline-block;
		left: 9px;
	}
	&::after {
		position: absolute;
		z-index: 10;
		height: 100%;
		top: 0;
		width: 10px;
		border-left: 1px solid var(--border-color);
		content: '';
		left: 25px;
	}
}
