[env]
DEPS_PATH = { relative = true, value = "apps/.deps" }
{{#protoc}}
PROTOC = "{{{protoc}}}"
{{/protoc}}
{{^isLinux}}
FFMPEG_DIR = "{{{nativeDeps}}}"
{{/isLinux}}

[target.x86_64-apple-darwin.heif]
rustc-link-lib = ["heif"]
[target.aarch64-apple-darwin.heif]
rustc-link-lib = ["heif"]
[target.x86_64-pc-windows-msvc.heif]
rustc-link-lib = ["heif"]
[target.x86_64-unknown-linux-gnu.heif]
rustc-link-lib = ["heif"]
[target.aarch64-unknown-linux-gnu.heif]
rustc-link-lib = ["heif"]

[alias]
prisma = "run -p prisma-cli --bin prisma --"
prisma-sync = "run -p prisma-cli --bin sync --"
