# Build artifacts
.build/
*.xcodeproj
*.xcworkspace

# macOS
.DS_Store

# Swift Package Manager
Package.resolved

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Build products
build/
DerivedData/

# Logs
*.log


