

.vanilla-light {
  // global
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;
   // accent theme colors
   --color-accent: 208, 100%, 57%;
   --color-accent-faint: 208, 100%, 67%;
   --color-accent-deep: 208, 100%, 47%;
  // text
  --color-ink: 230, 5%, 20%;
  --color-ink-dull: 230, 5%, 30%;
  --color-ink-faint: 230, 5%, 60%;
  // sidebar
  --color-sidebar: 230, 5%, 98%;
  --color-sidebar-box: 230, 5%, 100%;
  --color-sidebar-line: 230, 10%, 85%;
  --color-sidebar-divider: 230, 15%, 90%;
  --color-sidebar-button: 230, 15%, 100%;
  --color-sidebar-selected: 230, 10%, 90%;
  --color-sidebar-separator: 230, 15%, 100%;
  --color-sidebar-shade: 230, 15%, 100%;

  // main
  --color-app: 230, 5%, 100%;
  --color-app-box: 230, 5%, 98%;
  --color-app-overlay: 230, 5%, 100%;
  --color-app-input: 230, 5%, 100%;
  --color-app-focus: 230, 5%, 98%;
  --color-app-line: 230, 5%, 85%;
  --color-app-button: 230, 5%, 100%;
  --color-app-divider: 230, 5%, 85%;
  --color-app-selected: 230, 5%, 93%;
  --color-app-hover: 230, 5%, 100%;
  --color-app-shade: 230, 15%, 50%;
}


.vanilla-dark {
  // global
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;
   // accent theme colors
  --color-accent: 208, 100%, 57%;
  --color-accent-faint: 208, 100%, 67%;
  --color-accent-deep: 208, 100%, 47%;
  // text
  --color-ink: 230, 0%, 100%;
  --color-ink-dull: 230, 10%, 70%;
  --color-ink-faint: 230, 10%, 55%;
  // sidebar
  --color-sidebar: 230, 15%, 7%;
  --color-sidebar-box: 230, 15%, 13%;
  --color-sidebar-line: 230, 15%, 23%;
  --color-sidebar-divider: 230, 15%, 23%;
  --color-sidebar-button: 230, 15%, 23%;
  --color-sidebar-selected: 230, 15%, 16%;
  --color-sidebar-separator: 230, 15%, 23%;
  --color-sidebar-shade: 230, 15%, 23%;
  // main
  --color-app: 230, 15%, 13%;
  --color-app-box: 230, 15%, 20%;
  --color-app-overlay: 230, 14%, 17%;
  --color-app-input: 230, 15%, 20%;
  --color-app-focus: 230, 15%, 10%;
  --color-app-line: 230, 15%, 26%;
  --color-app-button: 230, 15%, 23%;
  --color-app-divider: 230, 15%, 5%;
  --color-app-selected: 230, 15%, 23%;
  --color-app-hover: 230, 15%, 20%;
  --color-app-shade: 230, 15%, 0%;
}

