@tailwind base;
@tailwind components;
@tailwind utilities;

.html {
  background: #404040;
}

.backdrop-blur {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-img {
  background-image: url('/app.png');
  background-size: contain;
  background-repeat: no-repeat;
}
